.App {
  /*text-align: center;*/
}

.App-logo {
  /*height: 40vmin;*/
}

.App-header {
/*  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;*/
}

.App-link {
  /*color: #09d3ac;*/
}

#plyr_wrapper.audio {

  #plyr_buffer {
    height: 61px;
    /*
       Border 1px
       Audio plyr height 50px
       browser status bar height 10px
    */
  }
  #plyr_container {
    border-bottom: 1px solid black;
    background: gray;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;


    .plyr--audio {
      border-top: 1px solid black;
    }
  }    
}
