audio {
  width: 100%;
  margin-top: -16px;
}

audio::-webkit-media-controls-panel {
  background-color: white;
}


video {
  right: 10px;
  position: fixed;
  bottom:25px;
  z-index:300;
  padding-bottom: 5px;
  width: auto;
  max-height: 245px;
}


#plyr_container {

  // background-color: red !important;
  // .container.controls {
  //   line-height: 20px

  //   #playButton {
  //     font-size: 20px;
  //   }
  // }
}



#plyr_wrapper {
  #plyr_container {
    #infoControls div.row div {
      z-index: 10;
      a {
        color: black;
        cursor: pointer;
      }
    }
  }    
}



#plyr_wrapper.video {

  #plyr_buffer {
    height: 30px;
    /*
       Border 1px
       Audio plyr height 50px
       browser status bar height 10px
    */
  }
  #plyr_container {
    border-top: 1px solid black;
    background: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
  }    
}




#plyr_wrapper.audio {

  #plyr_buffer {
    height: 60px;
    /*
       Border 1px
       Audio plyr height 50px
       browser status bar height 10px
    */
  }
  #plyr_container {
    border-top: 1px solid black;
    background: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;




    .plyr--audio {
      border-top: 1px solid black;
    }
  }    
}
